body {
    background-color: #FBFAF8;
    padding: 0;
    margin: 0;
}

button {
    all: unset;
}

.header-background {
    background-color: #E7DECD;
    padding: 12px 24px 72px 24px;
}

.header {
    background: #698F3F;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 48px;
    margin-right: 48px;
}

.logo {
    padding: 12px 12px 12px 48px;
    color: #F2E0C9;
    font-size: 24px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.header-link {
    padding: 6px 12px 6px 12px;
    background: #E7DECD;
    color: #804E49;

}

.header-link:hover, .login-button:hover, .signup-button:hover, .logout-button:hover, .my-page-button:hover {
    color: #804E49;
    border-color: black;
    background-color: #E7DECD;

}

.header-links-box {
    padding-left: 36px;
}

.header-links-box, .login-info{
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
}


.header-link, .login-button, .signup-button, .logout-button, .my-page-button {
    display: flex;
    list-style: none;
    margin-right: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    transition: border-color 0.3s, color 0.3s;
    border: 1px solid transparent;

}

.login-button, .signup-button, .logout-button, .my-page-button {
    padding: 20px 24px;
    background-color: #804E49;
    color: #E7DECD;
}

.new-samples-text, .today-picks-text, .this-weeks-creators-text {
    flex: 1;
    border: 2px solid #040711;
    margin: 16px 72px 8px 24px;
    padding: 5px 24px 5px 24px;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #804E49;
    color: #E7DECD;
    text-align: center;
}

.new-samples-box, .today-picks-box {
    padding: 36px 24px 100px 0;
    background: #FBFAF8;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.this-weeks-creators-container {
    display: flex;
    width: 100%;
}

.this-weeks-creators-box {
    flex: 0 0 49%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.new-samples-images-container, .today-picks-images-container {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.this-weeks-creators-images-container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.new-samples-image-container, .today-picks-image-container {
    justify-content: space-between;
    padding: 10px;
    flex-basis: calc(9% - 10px);
    border: 3px solid #804E49;
    text-align: center;
    height: 100px;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.this-weeks-creators-image-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 3px solid #804E49;
    text-align: center;
    width: 75px;
    height: 75px;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin-left: 100px;
}

.new-samples-image-container img, .today-picks-image-container img {
    max-width: 100%;
    height: auto;
    font-size: 12px;
}

.this-weeks-creators-image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.new-samples-image-caption, .today-picks-image-caption {
    color: #333;
    margin-top: 10px;
    font-size: 14px;
    flex-basis: calc(15% - 30px);
    text-align: center;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    padding: 10px 10px 24px;
}

.this-weeks-creators-image-caption {
    color: #333;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.this-weeks-creators-box2 {
    flex: 0 0 49%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


.divider {
    padding: 60px 150px;
    background: #E7DECD;
    text-align: center;
}

.blog-container {
    padding: 60px 150px;
    background: #FBFAF8;
}

.blog-heading {
    display: flex;
    justify-content: center;
    color: #804E49;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 24px 5px 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog-images-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.blog-image-container {
    justify-content: space-between;
    padding: 10px;
    flex-basis: calc(30% - 60px);
    border: 3px solid #804E49;
    text-align: center;
    height: 300px;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.blog-image-container img {
    max-width: 100%;
    height: auto;
    font-size: 12px;
}

.blog-image-caption {
    color: #333;
    margin-top: 10px;
    font-size: 14px;
    flex-basis: calc(15% - 30px);
    text-align: center;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    padding: 10px 10px 24px;
}

.join-community-box {
    padding-top: 75px;
}

.join-community-box, .join-community-box2 {
    background-color: #FBFAF8;
    display: flex;
    justify-content: center;
}

.join-community-box2 {
    padding-top: 25px;
    padding-bottom: 75px;
}

.join-community-text {
    border: 2px solid #040711;
    margin: 0 auto;
    padding: 5px 24px 5px 24px;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #804E49;
    color: #E7DECD;
    text-align: center;
}

.community-button-box {
    margin-bottom: 100px;
}

.community-button-box, .community-button {
    justify-content: center;
    margin: 0;
    text-align: center;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: #804E49;
    color: #E7DECD;
}

.community-button:hover {
    background-color: #E7DECD;
    color: #040711;
}







