
.my-page-frontpage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.my-page-frontpage-text {
    padding: 20px 50px 20px 50px;
    display: inline-block;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #804E49;
    color: #E7DECD;
}

.my-samples-box {
    padding: 24px;
    background: #E7DECD;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #804E49;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 48px;
    margin-right: 48px;
}

.space-between-elements{
    height: 50px;
    display: block
}

.upload-button-box {
    display: flex;
    justify-content: end;
}

.upload-button {
    justify-content: end;
    margin-right: 70px;
    padding: 25px 40px 25px 40px;
    background: #804E49;
    color: #E7DECD;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

.upload-button:hover {
    color: #804E49;
    border-color: black;
    background-color: #E7DECD;
}

.my-samples-heading, .downloaded-samples-heading, .sample-statistics-heading {
    display: flex;
    justify-content: start;
    margin-left: 50px;
}

.my-samples-heading-text {
    padding: 20px 75px 20px 75px;
}

.downloaded-samples-text {
    padding: 20px 40px 20px 40px;
}

.sample-statistics-text {
    padding: 20px 60px 20px 60px;
}

.my-samples-heading-text, .downloaded-samples-text, .sample-statistics-text {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #804E49;
    color: #E7DECD;
}

.my-page-list {
    justify-content: space-between;
    background-color: #E7DECD;
    display: flex;
    gap: 40px;

}

.my-page-sample-preview {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 75px;
}

.my-page-sample-title {
    text-decoration: none;
    font-size: 20px;
}

.my-page-sample-info {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.avatar-picture {
    width: 150px;
}

.edit-profile {
    margin-left: 20px;
    margin-bottom: 50px;
}


.edit-profile-text {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    color: #E7DECD;
    padding: 10px;
    background-color: #804E49;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.edit-profile-text:hover {
    background-color: #E7DECD;
    color: #804E49;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}


.text-padding {
    padding: 20px;
}

.divider {
    padding: 60px 150px;
    background: #E7DECD;
    text-align: center;
}

.my-samples-image-caption {
    color: #333;
    margin-top: 10px;
    font-size: 14px;
    flex-basis: calc(15% - 30px);
    text-align: center;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    padding: 10px 10px 24px;
}

.my-samples-image-container {
    justify-content: center;
    padding: 15px 15px 60px 15px;
    flex-basis: calc(12% - 5px);
    text-align: center;
    height: 175px;
    width: 150px;
    margin-left: 15px;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid #804E49;
}

.new-samples-box {
    padding: 36px 24px 100px 0;
    background: #FBFAF8;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.my-samples-text {
    flex: 1;
    border: 2px solid #040711;
    margin: 16px 25px 8px 24px;
    padding: 5px 24px 5px 24px;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #804E49;
    color: #E7DECD;
    text-align: center;
}

.sample-image {
    height: 150px;
    width: 150px;
}

.my-samples-images-container {
    display: flex;
    flex-wrap: wrap;
    flex: 6;
    justify-content: flex-start;
}
.sample-title {
    white-space: nowrap;
}

.button-hyperlink {
    background: none;
    border: none;

    font: inherit;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    font-size: 14px;
    flex-basis: calc(15% - 30px);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}


