body {
    background-color: #FBFAF8;
    padding: 0;
    margin: 0;
}

.header-background {
    background-color: #E7DECD;
    padding: 12px 24px 72px 24px;
}

.header {
    background: #698F3F;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 48px;
    margin-right: 48px;
}

.logo {
    padding: 12px 12px 12px 48px;
    color: #F2E0C9;
    font-size: 24px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.header-link {
    padding: 6px 12px 6px 12px;
    background: #E7DECD;
    color: #804E49;

}

.header-link:hover, .login-button:hover, .signup-button:hover {
    color: #804E49;
    border-color: black;
    background-color: #E7DECD;

}

.header-links-box {
    padding-left: 36px;
}

.header-links-box, .login-info{
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
}


.header-link, .login-button, .signup-button {
    display: flex;
    list-style: none;
    margin-right: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    transition: border-color 0.3s, color 0.3s;
    border: 1px solid transparent;

}

.login-button, .signup-button {
    padding: 20px 24px;
    background-color: #804E49;
    color: #E7DECD;
}

.my-page-frontpage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.my-page-frontpage-text {
    padding: 20px 50px 20px 50px;
    display: inline-block;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #804E49;
    color: #E7DECD;
}

.my-samples-box {
    padding: 24px;
    background: #E7DECD;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #804E49;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 48px;
    margin-right: 48px;
}

.space-between-elements{
    height: 50px;
    display: block
}

.upload-button-box {
    display: flex;
    justify-content: end;
}

.upload-button {
    justify-content: end;
    margin-right: 70px;
    padding: 25px 40px 25px 40px;
    background: #804E49;
    color: #E7DECD;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.upload-button:hover {
    color: #804E49;
    border-color: black;
    background-color: #E7DECD;
}

.my-samples-heading, .downloaded-samples-heading, .sample-statistics-heading {
    display: flex;
    justify-content: start;
    margin-left: 50px;
}

.my-samples-heading-text {
    padding: 20px 75px 20px 75px;
}

.downloaded-samples-text {
    padding: 20px 40px 20px 40px;
}

.sample-statistics-text {
    padding: 20px 60px 20px 60px;
}

.my-samples-heading-text, .downloaded-samples-text, .sample-statistics-text {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #804E49;
    color: #E7DECD;
}

.my-page-list {
    justify-content: space-between;
    background-color: #E7DECD;
    display: flex;
    gap: 40px;

}

.my-page-sample-preview {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 75px;
}

.my-page-sample-title {
    text-decoration: none;
    font-size: 20px;
}

.my-page-sample-info {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.avatar-picture {
    width: 150px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}


.text-padding {
    padding: 20px;
}

.divider {
    padding: 60px 150px;
    background: #E7DECD;
    text-align: center;
}
