
.my-page-frontpage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.my-page-frontpage-text {
    padding: 20px 50px 20px 50px;
    display: inline-block;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #804E49;
    color: #E7DECD;
}

.my-samples-box {
    padding: 24px;
    background: #E7DECD;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #804E49;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 48px;
    margin-right: 48px;
}

.space-between-elements{
    height: 50px;
    display: block
}

.upload-button-box {
    display: flex;
    justify-content: end;
}

.upload-button {
    justify-content: end;
    margin-right: 70px;
    padding: 25px 40px 25px 40px;
    background: #804E49;
    color: #E7DECD;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

.upload-button:hover {
    color: #804E49;
    border-color: black;
    background-color: #E7DECD;
}

.my-samples-heading, .downloaded-samples-heading, .sample-statistics-heading {
    display: flex;
    justify-content: start;
    margin-left: 50px;
}

.my-samples-heading-text {
    padding: 20px 75px 20px 75px;
}

.downloaded-samples-text {
    padding: 20px 40px 20px 40px;
}

.sample-statistics-text {
    padding: 20px 60px 20px 60px;
}

.my-samples-heading-text, .downloaded-samples-text, .sample-statistics-text {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #804E49;
    color: #E7DECD;
}

.my-page-list {
    justify-content: space-between;
    background-color: #E7DECD;
    display: flex;
    gap: 40px;

}

.my-page-sample-preview {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 75px;
}

.my-page-sample-title {
    text-decoration: none;
    font-size: 20px;
}

.my-page-sample-info {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.avatar-picture {
    width: 150px;
}

.edit-profile {
    margin-left: 20px;
    margin-bottom: 50px;
}


.edit-profile-text {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    color: #E7DECD;
    padding: 10px;
    background-color: #804E49;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.edit-profile-text:hover {
    background-color: #E7DECD;
    color: #804E49;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}


.text-padding {
    padding: 20px;
}

.divider {
    padding: 60px 150px;
    background: #E7DECD;
    text-align: center;
}
