body {
    background-color: #FBFAF8;
    padding: 0;
    margin: 0;
}

button {
    all: unset;
}

.header-background {
    background-color: #E7DECD;
    padding: 12px 24px 72px 24px;
}

.header {
    background: #698F3F;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 48px;
    margin-right: 48px;
}

.logo {
    padding: 12px 12px 12px 48px;
    color: #F2E0C9;
    font-size: 24px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.header-link {
    padding: 6px 12px 6px 12px;
    background: #E7DECD;
    color: #804E49;

}

.header-link:hover, .login-button:hover, .signup-button:hover, .logout-button:hover, .my-page-button:hover {
    color: #804E49;
    border-color: black;
    background-color: #E7DECD;

}

.header-links-box {
    padding-left: 36px;
}

.header-links-box, .login-info{
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
}


.header-link, .login-button, .signup-button, .logout-button, .my-page-button {
    display: flex;
    list-style: none;
    margin-right: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    transition: border-color 0.3s, color 0.3s;
    border: 1px solid transparent;

}

.login-button, .signup-button, .logout-button, .my-page-button {
    padding: 20px 24px;
    background-color: #804E49;
    color: #E7DECD;
}

.samples-heading {
    display: flex;
    justify-content: start;
    margin-left: 70px;
    margin-top: 70px;
}

.samples-heading-text {
    padding: 20px 75px 20px 75px;
}

.samples-heading-text {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #804E49;
    color: #E7DECD;
}

.sample-container {
    margin: 70px 70px 0px 70px;
    display: flex;
    height: 1400px;
    background-color: #E7DECD;
    overflow: auto;
}

.sample-inner-container {
    min-width: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
}

.sample-items {
    align-items: center;
}

.sample-item {
    max-height: 150px;
    min-width: 200px;
    max-width: 300px; /*calc(33.33% - 20px)*/
    padding: 10px;
    /*border: 1px solid black;*/
    margin-top: 50px;
    overflow: hidden;
}

.sample-image {
    margin-left: 50px;
    height: 150px;
    width: 150px;
    border: 3px solid #804E49;
}


